<header id="cs-navigation" class="top">
    <div class="cs-top-bar">
        <div class="cs-top-container">
            <div class="cs-top-contact">
                <a href="tel:{{ client.phoneForTel }}" class="cs-top-link">
                    <div class="cs-link-wrapper">
                        <img alt="logo" decoding="async" height="16" src="/assets/svgs/icon-phone.svg" width="16"
                            aria-hidden="true" class="cs-link-icon">
                    </div>
                    <div class="cs-link-content">
                        <span class="cs-city-label">Tel. numeris</span>
                        {{ client.phoneFormatted }}
                    </div>
                </a>
                <a href="mailto:{{ client.email }}" class="cs-top-link">
                    <div class="cs-link-wrapper">
                        <img alt="logo" decoding="async" height="20" src="/assets/svgs/icon-mail.svg" width="20"
                            aria-hidden="true" class="cs-link-icon">
                    </div>
                    <div class="cs-link-content">
                        <span class="cs-city-label">El. paštas</span>
                        {{ client.email }}
                    </div>
                </a>
                <a href="/kontaktai/" class="cs-top-link">
                    <div class="cs-link-wrapper">
                        <img alt="location" decoding="async" height="20" src="/assets/svgs/icon-pin.svg" width="20"
                            aria-hidden="true" class="cs-link-icon">
                    </div>
                    <div class="cs-link-content">
                        <span class="cs-city-label">{{ client.address.city }}</span>
                        {{ client.address.lineOne }}
                    </div>
                </a>
<!--                <a href="tel:{{ client.phone2ForTel }}" class="cs-top-link">-->
<!--                    <div class="cs-link-wrapper">-->
<!--                        <img alt="logo" decoding="async" height="16" src="/assets/svgs/icon-phone.svg" width="16"-->
<!--                            aria-hidden="true" class="cs-link-icon">-->
<!--                    </div>-->
<!--                    <div class="cs-link-content">-->
<!--                        <span class="cs-city-label">Vilnius</span>-->
<!--                        {{ client.phone2Formatted }}-->
<!--                    </div>-->
<!--                </a>-->
<!--                <a href="mailto:{{ client.email2 }}" class="cs-top-link">-->
<!--                    <div class="cs-link-wrapper">-->
<!--                        <img alt="logo" decoding="async" height="20" src="/assets/svgs/icon-mail.svg" width="20"-->
<!--                            aria-hidden="true" class="cs-link-icon">-->
<!--                    </div>-->
<!--                    <div class="cs-link-content">-->
<!--                        <span class="cs-city-label">Vilnius</span>-->
<!--                        {{ client.email2 }}-->
<!--                    </div>-->
<!--                </a>-->
                <a href="{{ client.socials.facebook }}" class="cs-top-link cs-facebook-link" target="_blank" aria-label="Visit Facebook Profile">
                    <div class="cs-link-wrapper">
                        <img alt="Facebook logo" decoding="async" height="16" src="/assets/svgs/facebookred.svg" width="16"
                            aria-hidden="true" class="cs-link-icon">
                    </div>
                    <div class="cs-link-content">
                        <span class="cs-city-label">Facebook</span>
                        Peržiūrėti
                    </div>
                </a>
                <a href="{{ client.socials.instagram }}" class="cs-top-link cs-instagram-link" target="_blank" aria-label="Visit Instagram Profile">
                    <div class="cs-link-wrapper">
                        <img alt="Instagram logo" decoding="async" height="16" src="/assets/svgs/instagramred.svg" width="16"
                            aria-hidden="true" class="cs-link-icon">
                    </div>
                    <div class="cs-link-content">
                        <span class="cs-city-label">Instagram</span>
                        Peržiūrėti
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="cs-container">
        <a href="/" class="cs-logo" aria-label="back to home">
            <img src="/assets/svgs/logo-black.svg" alt="Nuomok logo" decoding="async" loading="lazy">
        </a>
        <nav class="cs-nav" role="navigation">
            <button class="cs-toggle" aria-label="mobile menu toggle">
                <div class="cs-box" aria-hidden="true"><span class="cs-line cs-line1" aria-hidden="true"></span> <span
                        class="cs-line cs-line2" aria-hidden="true"></span> <span class="cs-line cs-line3"
                        aria-hidden="true"></span></div>
            </button>
            <div class="cs-ul-wrapper">
                <ul id="cs-expanded" class="cs-ul">
                    <!-- Home Page Link -->
                    <!--                    <li class="cs-li">-->
                    <!--                        <a href="/" class="cs-li-link {% if page.url == '/' %} cs-active {% endif %}">-->
                    <!--                            Home-->
                    <!--                        </a>-->
                    <!--                    </li>-->

                    <!-- Three-Level Dropdown for Paslaugos -->


                    <li class="cs-li">
                        <a href="/"
                           class="cs-li-link {% if page.url == '/' %} cs-active {% endif %}">
                            Pradžia
                        </a>
                    </li>


                    <li class="cs-li cs-dropdown">
                        <span class="cs-li-link">
                            Paslaugos
                            <img class="cs-drop-icon" src="/assets/svgs/down-arrow.svg" alt="dropdown icon" width="15" height="15" decoding="async" aria-hidden="true">
                        </span>

                        <ul class="cs-drop-ul">
                            <li class="cs-drop-li">
                                <a href="/burnos-higiena/" class="cs-li-link cs-drop-link {% if page.url == '/burnos-higiena/' %} cs-active {% endif %}">Profesionali burnos higiena</a>
                            </li>
                            <li class="cs-drop-li">
                                <a href="/burnos-higiena/" class="cs-li-link cs-drop-link {% if page.url == '/burnos-higiena/' %} cs-active {% endif %}">Estetinis plombavimas</a>
                            </li>
                            <li class="cs-drop-li">
                                <a href="/burnos-higiena/" class="cs-li-link cs-drop-link {% if page.url == '/burnos-higiena/' %} cs-active {% endif %}">Protezavimas</a>
                            </li>
                            <li class="cs-drop-li">
                                <a href="/burnos-higiena/" class="cs-li-link cs-drop-link {% if page.url == '/burnos-higiena/' %} cs-active {% endif %}">Endodontija</a>
                            </li>
                            <li class="cs-drop-li">
                                <a href="/burnos-higiena/" class="cs-li-link cs-drop-link {% if page.url == '/burnos-higiena/' %} cs-active {% endif %}">Vaikų ir suaugusiųjų terapinis gydymas</a>
                            </li>
                            <li class="cs-drop-li">
                                <a href="/burnos-higiena/" class="cs-li-link cs-drop-link {% if page.url == '/burnos-higiena/' %} cs-active {% endif %}">Dantų implantacija</a>
                            </li>
                            <li class="cs-drop-li">
                                <a href="/burnos-higiena/" class="cs-li-link cs-drop-link {% if page.url == '/burnos-higiena/' %} cs-active {% endif %}">Periodontologija</a>
                            </li>
                            <li class="cs-drop-li">
                                <a href="/burnos-higiena/" class="cs-li-link cs-drop-link {% if page.url == '/burnos-higiena/' %} cs-active {% endif %}">Tyrimai ir konsultacijos</a>
                            </li>
                        </ul>
                    </li>
<!--                    &lt;!&ndash; About Us Dropdown &ndash;&gt;-->
<!--                    <li class="cs-li cs-dropdown">-->
<!--                        <button class="cs-li-link cs-dropdown-button" aria-label="dropdown-Apie mus"-->
<!--                            aria-controls="dropdown-Apie-mus" aria-expanded="false">-->
<!--                            Apie mus-->
<!--                            <img class="cs-drop-icon" src="/assets/svgs/down-arrow.svg" alt="dropdown icon" width="15"-->
<!--                                height="15" decoding="async" aria-hidden="true">-->
<!--                        </button>-->
<!--                        <ul class="cs-drop-ul" id="dropdown-Apie-mus">-->
<!--                            <li class="cs-drop-li">-->
<!--                                <a href="/apie-mus/"-->
<!--                                    class="cs-li-link cs-drop-link {% if page.url == '/apie-mus/' %} cs-active {% endif %}">-->
<!--                                    Apie mus-->
<!--                                </a>-->
<!--                            </li>-->
<!--                            <li class="cs-drop-li">-->
<!--                                <a href="/komanda/"-->
<!--                                   class="cs-li-link cs-drop-link {% if page.url == '/komanda/' %} cs-active {% endif %}">-->
<!--                                    Komanda-->
<!--                                </a>-->
<!--                            </li>-->
<!--                            <li class="cs-drop-li">-->
<!--                                <a href="/atsiliepimai/"-->
<!--                                    class="cs-li-link cs-drop-link {% if page.url == '/atsiliepimai/' %} cs-active {% endif %}">-->
<!--                                    Atsiliepimai-->
<!--                                </a>-->
<!--                            </li>-->
<!--                        </ul>-->
<!--                    </li>-->

                    <!-- Car Categories Dropdown -->

<!--                    <li class="cs-li">-->
<!--                        <a href="/tinklarastis/"-->
<!--                            class="cs-li-link {% if page.url == '/tinklarastis/' %} cs-active {% endif %}">-->
<!--                            Įžvalgos-->
<!--                        </a>-->
<!--                    </li>-->

                    <li class="cs-li">
                        <a href="/apie-mus/"
                           class="cs-li-link {% if page.url == '/apie-mus/' %} cs-active {% endif %}">
                            Apie kliniką
                        </a>
                    </li>

                    <li class="cs-li">
                        <a href="/komanda/"
                           class="cs-li-link {% if page.url == '/komanda/' %} cs-active {% endif %}">
                            Gydytojai
                        </a>
                    </li>

                    <li class="cs-li">
                        <a href="/kainos/"
                           class="cs-li-link {% if page.url == '/kainos/' %} cs-active {% endif %}">
                            Kainos
                        </a>
                    </li>

                    <li class="cs-li">
                        <a href="/atsiliepimai/"
                           class="cs-li-link {% if page.url == '/atsiliepimai/' %} cs-active {% endif %}">
                            Atsiliepimai
                        </a>
                    </li>




                    <!--                    <li class="cs-li desk-hidden">-->
                    <!--                        <a href="/apply-to-a-job/" class="cs-li-link {% if page.url == '/atsiliepimai/' %} cs-active {% endif %}">-->
                    <!--                            Apply jobs-->
                    <!--                        </a>-->
                    <!--                    </li>-->
                    <!-- Contact Us Page Link -->
                    <li class="cs-li desk-hidden">
                        <a href="/kontaktai/"
                            class="cs-li-link {% if page.url == '/kontaktai/' %} cs-active {% endif %}">
                            Kontaktai
                        </a>
                    </li>


                    <!-- Call-to-Action Links (can be styled as buttons with CSS) -->
                    <!--                        <li class="cs-li">-->
                    <!--                            <a href="/schedule-a-call/" class="cs-li-link {% if page.url == '/schedule-a-call/' %} cs-active {% endif %}">-->
                    <!--                                Schedule a Call-->
                    <!--                            </a>-->
                    <!--                        </li>-->
                    <!--                        <li class="cs-li">-->
                    <!--                            <a href="/apply-to-a-job/" class="cs-li-link {% if page.url == '/apply-to-a-job/' %} cs-active {% endif %}">-->
                    <!--                                Apply to a Job-->
                    <!--                            </a>-->
                    <!--                        </li>-->
                </ul>
            </div>

        </nav>
        <a href="/kontaktai/" class="cs-button-solid cs-nav-button-2">Kontaktai</a>
    </div>
</header>