---
title: 'Mikroautobusų nuoma | Belomeda'
description: 'Automobilių ir mikroautobusų nuoma jūsų kelionėms ar darbams. Siūlome techniškai tvarkingus lengvuosius, krovininius ir keleivinius automobilius su aiškia kaina.'
permalink: '/'
tags: "sitemap" # content/content.json will make sure that all pages in content/ are marked with a "sitemap" tag, for automatic sitemap generation. As index.html is not in content/, we need to add it here to ensure the root page is included in the sitemap generation
---

{% extends "layouts/base.html" %}

{% block head %}
<!-- Critical styles are loaded first -->
<link rel="stylesheet" href="/assets/css/critical.css"/>

<style>

</style>

<!-- If we're in production, defer the rest of the home page styles. In development, always load it. Otherwise the site will break when hot-reload is used. -->
{% if kit.isProduction %}
<link rel="preload" href="/assets/css/local.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
<noscript>
    <link rel="stylesheet" href="/assets/css/local.css">
</noscript>

{% else %}
<link rel="stylesheet" href="/assets/css/local.css"/>
{% endif %}



<!-- Hero Car Search Script -->
<!-- <script defer src="/assets/js/hero-car-search.js"></script> -->

<!-- Keen Slider JS - Load before other scripts that depend on it -->
<script defer src="/assets/js/keen-slider.min.js"></script>

<!-- Home Related Cars Script -->
<script defer src="/assets/js/home-related-cars.js"></script>
<!-- Reviews Slider Script -->
<script defer src="/assets/js/reviews-slider.js"></script>
<!-- Services Slider Script -->
<script defer src="/assets/js/services-slider.js"></script>
<!-- Blog Slider Script -->
<script defer src="/assets/js/blog-slider.js"></script>

<!-- To ensure proper validation, prevent errors, and encourage developers to check, schema's are an opt-in feature. They're very bespoke and requires some customising  -->
<!-- Uncomment the code below to enable Structured Data, and test it when you deploy to Netlify - https://developers.google.com/search/docs/appearance/structured-data -->
<!-- {% include "components/home-schema.html" %} -->
{% endblock %}

{% block body %}

<section id="hero-288">
    <div class="cs-container">
        <div class="cs-content">
            <h1 class="cs-title">Dirbame tam, kad jus puoštų <span style="color: var(--primary);">sveika</span> ir <span style="color: var(--primary);">graži šypsena</span>!</h1>
            <p class="cs-text">Esame nedidelė, jauki odontologijos klinika, kurioje vertiname šeimynines vertybes. Gydymui naudojame modernias technologijas ir kokybiškas medžiagas. Mums svarbiausia išlaikyti paprastą ir nuoširdų ryšį su kiekvienu pacientu. Kviečiame apsilankyti.</p>
            <div class="cs-button-group">
                <a href="/kontaktai/" class="cs-button-solid"><span></span><img src="/assets/svgs/calendar.svg" alt="" class="cs-button-icon" aria-hidden="true"><p>Registruotis</p></a>
                <a href="tel:+37060328333" class="cs-button-solid cs-button-phone"><span></span><img src="/assets/svgs/icon-phone.svg" alt="" class="cs-button-icon" aria-hidden="true"><p>+370 603 28333</p></a>
            </div>
            <ul class="cs-stats-group">
                <li class="cs-item"><span class="cs-number">1000+</span> <span class="cs-desc">Puošnių šypsenų</span></li>
                <li class="cs-item"><span class="cs-number">20+</span> <span class="cs-desc">Metų patirtis</span></li>
                <li class="cs-item"><span class="cs-number">5/5</span> <span class="cs-desc">Klientų atsiliepimai</span></li>
            </ul>
        </div>
        <picture class="cs-picture">
            <source media="(max-width: 600px)" srcset="/assets/images/happy-family-park.jpg">
            <source media="(min-width: 601px)" srcset="/assets/images/happy-family-park.jpg">
            <img src="/assets/images/happy-family-park.jpg" alt="leaves" decoding="async" height="814" width="630" aria-hidden="true" loading="eager">
        </picture>
        <div class="cs-waves"></div>
    </div>
</section>
<!-- ============================================ -->
<!--           Home Category Cars Sections        -->
<!-- ============================================ -->

<!-- ============================================ -->
<!--           Logo Carousel Section              -->
<!-- ============================================ -->

{% set title = 'Sveikatos <span style="color: var(--primary);">draudimas</span> ir <span style="color: var(--primary);">partneriai</span>' %}
{% set description = 'Teikiame TLK kompensuojamas dantų protezavimo paslaugas. Už gydymą taip pat galite atsiskaityti sveikatos draudimu, nes bendradarbiaujame su „Lietuvos draudimu“, BTA, „Compensa“, ERGO ir „Gjensidige“.' %}
{% set logoType = 'brands' %}
{% include 'sections/logos-section.html' %}

<section id="services1">
    <div class="cs-container">
        <div class="cs-content">
            <div class="cs-flex-group">
                <span class="cs-topper">Mūsų Paslaugos</span>
                <h2 class="cs-title"><span class="cs-color">Platus odontologijos paslaugų</span> pasirinkimas</h2>
            </div>

            <p class="cs-text">Klinikoje rasite visas reikalingas procedūras nuo profilaktikos iki sudėtingo gydymo. Atliekame burnos higieną, tiesiname ir implantuojame dantis bei rūpinamės chirurginėmis operacijomis. Visada siekiame, kad jūsų šypsena būtų ne tik graži, bet ir sveika.</p>
        </div>
        <div class="cs-slider-container">
            <button class="cs-slider-arrow cs-slider-prev" aria-label="Previous slide">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M15 18L9 12L15 6" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
            </button>
            <div class="cs-slider-wrapper">
                <div id="services1-slider-overlay" class="cs-slider-overlay"></div>
                <ul id="services1-slider" class="keen-slider">
                    <li class="keen-slider__slide">
                        <div class="service-card">
                            <div class="cs-icon-wrapper">
                                <img alt="Dantų ir implantų protezavimas ikona" src="/assets/images/services/dantu_protezavimas.svg" decoding="async" height="48" width="48" class="cs-icon" loading="lazy">
                            </div>
                            <h3 class="cs-h3">Dantų ir Implantų Protezavimas</h3>
                            <p class="cs-item-p">Prarastų dantų ar jų eilių atstatymas įvairių tipų protezais ant natūralių dantų ar implantų.</p>
                            <a href="/burnos-higiena/" class="cs-link">Peržiūrėti <img class="cs-arrow" loading="lazy" decoding="async" src="/assets/svgs/arrow-right.svg" alt="icon" width="20" height="20" aria-hidden="true"></a>
                        </div>
                    </li>
                    <li class="keen-slider__slide">
                        <div class="service-card">
                            <div class="cs-icon-wrapper">
                                <img alt="Dantų kanalų gydymas ikona" src="/assets/images/services/dantu_kanalu_gydymas.svg" decoding="async" height="48" width="48" class="cs-icon" loading="lazy">
                            </div>
                            <h3 class="cs-h3">Dantų Kanalų Gydymas</h3>
                            <p class="cs-item-p">Infekuotų ar pažeistų dantų šaknų kanalų valymas ir plombavimas, siekiant išsaugoti natūralų dantį (endodontija).</p>
                            <a href="/burnos-higiena/" class="cs-link">Peržiūrėti <img class="cs-arrow" loading="lazy" decoding="async" src="/assets/svgs/arrow-right.svg" alt="icon" width="20" height="20" aria-hidden="true"></a>
                        </div>
                    </li>
                    <li class="keen-slider__slide">
                        <div class="service-card">
                            <div class="cs-icon-wrapper">
                                <img alt="Burnos higiena ikona" src="/assets/images/services/burnos_higiena.svg" decoding="async" height="48" width="48" class="cs-icon" loading="lazy">
                            </div>
                            <h3 class="cs-h3">Burnos Higiena</h3>
                            <p class="cs-item-p">Efektyvus apnašų ir akmenų šalinimas, poliravimas bei rekomendacijos kasdienei burnos priežiūrai.</p>
                            <a href="/burnos-higiena/" class="cs-link">Peržiūrėti <img class="cs-arrow" loading="lazy" decoding="async" src="/assets/svgs/arrow-right.svg" alt="icon" width="20" height="20" aria-hidden="true"></a>
                        </div>
                    </li>
                    <li class="keen-slider__slide">
                        <div class="service-card">
                            <div class="cs-icon-wrapper">
                                <img alt="Dantų plombavimas ikona" src="/assets/images/services/dantu_plombavimas.svg" decoding="async" height="48" width="48" class="cs-icon" loading="lazy">
                            </div>
                            <h3 class="cs-h3">Dantų Plombavimas</h3>
                            <p class="cs-item-p">Pažeistų dantų audinių atstatymas moderniomis, estetiškomis plombomis, atkuriant danties formą ir funkciją.</p>
                            <a href="/burnos-higiena/" class="cs-link">Peržiūrėti <img class="cs-arrow" loading="lazy" decoding="async" src="/assets/svgs/arrow-right.svg" alt="icon" width="20" height="20" aria-hidden="true"></a>
                        </div>
                    </li>
                    <li class="keen-slider__slide">
                        <div class="service-card">
                            <div class="cs-icon-wrapper">
                                <img alt="Chirurginis gydymas ikona" src="/assets/images/services/chirurginis_gydymas.svg" decoding="async" height="48" width="48" class="cs-icon" loading="lazy">
                            </div>
                            <h3 class="cs-h3">Chirurginis Gydymas</h3>
                            <p class="cs-item-p">Sudėtingų dantų šalinimas, cistų operacijos, minkštųjų audinių korekcijos ir kitos burnos chirurgijos procedūros.</p>
                            <a href="/burnos-higiena/" class="cs-link">Peržiūrėti <img class="cs-arrow" loading="lazy" decoding="async" src="/assets/svgs/arrow-right.svg" alt="icon" width="20" height="20" aria-hidden="true"></a>
                        </div>
                    </li>
                    <li class="keen-slider__slide">
                        <div class="service-card">
                            <div class="cs-icon-wrapper">
                                <img alt="Dantų implantacija ikona" src="/assets/images/services/dantu_implantacija.svg" decoding="async" height="48" width="48" class="cs-icon" loading="lazy">
                            </div>
                            <h3 class="cs-h3">Dantų Implantacija</h3>
                            <p class="cs-item-p">Patikimas ir ilgaamžis prarastų dantų atkūrimas titaniniais implantais, kurie tarnauja kaip dirbtinės dantų šaknys.</p>
                            <a href="/burnos-higiena/" class="cs-link">Peržiūrėti <img class="cs-arrow" loading="lazy" decoding="async" src="/assets/svgs/arrow-right.svg" alt="icon" width="20" height="20" aria-hidden="true"></a>
                        </div>
                    </li>
                    <li class="keen-slider__slide">
                        <div class="service-card">
                            <div class="cs-icon-wrapper">
                                <img alt="Dantų rentgeno ikona" src="/assets/images/services/reontgen.svg" decoding="async" height="48" width="48" class="cs-icon" loading="lazy">
                            </div>
                            <h3 class="cs-h3">Dantų Rentgenas</h3>
                            <p class="cs-item-p">Tiksli diagnostika pasitelkiant dentalines ir panoramines rentgenogramas, padedančias sudaryti optimalų gydymo planą.</p>
                            <a href="/burnos-higiena/" class="cs-link">Peržiūrėti <img class="cs-arrow" loading="lazy" decoding="async" src="/assets/svgs/arrow-right.svg" alt="icon" width="20" height="20" aria-hidden="true"></a>
                        </div>
                    </li>
                    <li class="keen-slider__slide">
                        <div class="service-card">
                            <div class="cs-icon-wrapper">
                                <img alt="Periodontologijos ikona" src="/assets/images/services/periodontology.svg" decoding="async" height="48" width="48" class="cs-icon" loading="lazy">
                            </div>
                            <h3 class="cs-h3">Periodontologija</h3>
                            <p class="cs-item-p">Dantenų ligų diagnostika ir gydymas, padedantis išsaugoti dantų ir burnos sveikatą.</p>
                            <a href="/burnos-higiena/" class="cs-link">Peržiūrėti <img class="cs-arrow" loading="lazy" decoding="async" src="/assets/svgs/arrow-right.svg" alt="icon" width="20" height="20" aria-hidden="true"></a>
                        </div>
                    </li>
                    <li class="keen-slider__slide">
                        <div class="service-card">
                            <div class="cs-icon-wrapper">
                                <img alt="Vaikų dantų gydymas ikona" src="/assets/images/services/vaiku_dantu_gydymas_hover.svg" decoding="async" height="48" width="48" class="cs-icon" loading="lazy">
                            </div>
                            <h3 class="cs-h3">Vaikų Dantų Gydymas</h3>
                            <p class="cs-item-p">Mažųjų pacientų dantų priežiūra, profilaktika ir gydymas draugiškoje aplinkoje, pritaikytas vaikų poreikiams.</p>
                            <a href="/burnos-higiena/" class="cs-link">Peržiūrėti <img class="cs-arrow" loading="lazy" decoding="async" src="/assets/svgs/arrow-right.svg" alt="icon" width="20" height="20" aria-hidden="true"></a>
                        </div>
                    </li>
                </ul>
            </div>
            <button class="cs-slider-arrow cs-slider-next" aria-label="Next slide">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M9 18L15 12L9 6" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
            </button>
        </div>
    </div>
</section>


<section id="sbs-945">
    <div class="cs-container">
        <div class="cs-image-group">
            <picture class="cs-picture cs-picture1">
                <source media="(max-width: 600px)" srcset="{% getUrl "assets/images/patient2.jpeg" | resize({ width: 600 }) | avif %}" type="image/avif">
                <source media="(max-width: 600px)" srcset="{% getUrl "assets/images/patient2.jpeg" | resize({ width: 600 }) | webp %}" type="image/webp">
                <source media="(max-width: 600px)" srcset="{% getUrl "assets/images/patient2.jpeg" | resize({ width: 600 }) | jpeg %}" type="image/jpeg">
                <source media="(min-width: 601px)" srcset="{% getUrl "assets/images/patient2.jpeg" | resize({ width: 600 }) | avif %}" type="image/avif">
                <source media="(min-width: 601px)" srcset="{% getUrl "assets/images/patient2.jpeg" | resize({ width: 600 }) | webp %}" type="image/webp">
                <source media="(min-width: 601px)" srcset="{% getUrl "assets/images/patient2.jpeg" | resize({ width: 600 }) | jpeg %}" type="image/jpeg">
                <img src="{% getUrl "assets/images/patient2.jpeg" | resize({ width: 600 }) | jpeg %}" alt="Automobilių patikra" decoding="async" loading="lazy">
            </picture>
            <picture class="cs-picture cs-picture2">
                <source media="(max-width: 600px)" srcset="{% getUrl "assets/images/h1.jpg" | resize({ width: 600 }) | avif %}" type="image/avif">
                <source media="(max-width: 600px)" srcset="{% getUrl "assets/images/h1.jpg" | resize({ width: 600 }) | webp %}" type="image/webp">
                <source media="(max-width: 600px)" srcset="{% getUrl "assets/images/h1.jpg" | resize({ width: 600 }) | jpeg %}" type="image/jpeg">
                <source media="(min-width: 601px)" srcset="{% getUrl "assets/images/h1.jpg" | resize({ width: 600 }) | avif %}" type="image/avif">
                <source media="(min-width: 601px)" srcset="{% getUrl "assets/images/h1.jpg" | resize({ width: 600 }) | webp %}" type="image/webp">
                <source media="(min-width: 601px)" srcset="{% getUrl "assets/images/h1.jpg" | resize({ width: 600 }) | jpeg %}" type="image/jpeg">
                <img src="{% getUrl "assets/images/h1.jpg" | resize({ width: 600 }) | jpeg %}" alt="Automobilio paieška" decoding="async" loading="lazy">
            </picture>
            <picture class="cs-picture cs-picture3">
                <source media="(max-width: 600px)" srcset="{% getUrl "assets/images/h3.jpg" | resize({ width: 600 }) | avif %}" type="image/avif">
                <source media="(max-width: 600px)" srcset="{% getUrl "assets/images/h3.jpg" | resize({ width: 600 }) | webp %}" type="image/webp">
                <source media="(max-width: 600px)" srcset="{% getUrl "assets/images/h3.jpg" | resize({ width: 600 }) | jpeg %}" type="image/jpeg">
                <source media="(min-width: 601px)" srcset="{% getUrl "assets/images/h3.jpg" | resize({ width: 600 }) | avif %}" type="image/avif">
                <source media="(min-width: 601px)" srcset="{% getUrl "assets/images/h3.jpg" | resize({ width: 600 }) | webp %}" type="image/webp">
                <source media="(min-width: 601px)" srcset="{% getUrl "assets/images/h3.jpg" | resize({ width: 600 }) | jpeg %}" type="image/jpeg">
                <img src="{% getUrl "assets/images/h3.jpg" | resize({ width: 600 }) | jpeg %}" alt="Automobilio rakteliai" decoding="async" loading="lazy">
            </picture>
            <div class="cs-seal"><img src="assets/svgs/maplithuania.svg" alt="Dirbame visoje Lietuvoje" decoding="async" height="150" width="150" class="cs-seal-image" loading="lazy"></div>
        </div>
        <div class="cs-content">
            <span class="cs-topper">Apie mus</span>
            <h2 class="cs-title">Gydome taip, kaip norėtume, kad <span style="color: var(--primary);">gydytų</span> mus</h2>
            <p class="cs-text">Esame nedidelė klinika, kurioje nėra konvejerio jausmo ar nuolatinės skubos. Jau daugiau nei 20 metų čia deriname sukauptą patirtį su nuoširdžiu rūpesčiu, nes norime, kad kėdėje jaustumėtės ramiai. Mums svarbu ne tik sutaisyti dantis, bet ir paaiškinti situaciją paprastais žodžiais, kad nekiltų nereikalingų klausimų. Kviečiame užsukti ir įsitikinti, kad vizitas pas odontologą gali būti jaukus.</p>
            <a href="/apie-mus/" class="cs-button-solid" aria-label="Plačiau apie mus">Plačiau apie mus</a>
        </div>
    </div>
</section>


<!-- ============================================ -->
<!--           Team Section                       -->
<!-- ============================================ -->




<!-- ============================================ -->
<!--           Hero Journey Section               -->
<!-- ============================================ -->

<div class="wrapper-line">
    <div class="cs-container"></div>
</div>

<div class="team-reviews-wrapper">
<section id="team-section">
    <div class="cs-container">
        <div class="team-content">
            <div class="cs-flex-group">
                <span class="cs-topper">Komanda</span>
                <h2 class="cs-title">Mūsų <span style="color: var(--primary);">specialistų</span> komanda</h2>
            </div>
            <p class="team-description">Čia dirba gydytojai, kuriems svarbi ne tik atlikto darbo kokybė, bet ir jūsų ramybė vizito metu. Esame nedidelis kolektyvas, todėl dažnai tariamės tarpusavyje ieškodami tinkamiausio sprendimo. Vertiname pastovumą ir nuoširdų bendravimą su kiekvienu atėjusiu.</p>
        </div>

        <div class="cs-slider-container">
            <button class="cs-slider-arrow cs-slider-prev" aria-label="Previous slide">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M15 18L9 12L15 6" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
            </button>
            <div class="cs-slider-wrapper">
                <div id="team-slider-overlay" class="cs-slider-overlay"></div>
                <div id="team-slider" class="keen-slider">
                    <div class="keen-slider__slide">
                        <div class="team-card">
                            <div class="team-image-wrapper">
                                <img src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/d1.jpg" alt="Demo Doctor 1" class="team-image" loading="lazy" decoding="async">
                            </div>
                            <div class="team-info">
                                <div class="cs-license">DEMO - Licencijos Nr. DEMO-001</div>
                                <h3 class="team-name">Demo Gydytojas 1</h3>
                                <p class="team-role">Demo specializacija 1</p>
                            </div>
                        </div>
                    </div>
                    <div class="keen-slider__slide">
                        <div class="team-card">
                            <div class="team-image-wrapper">
                                <img src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/d5.jpg" alt="Demo Doctor 2" class="team-image" loading="lazy" decoding="async">
                            </div>
                            <div class="team-info">
                                <div class="cs-license">DEMO - Licencijos Nr. DEMO-002</div>
                                <h3 class="team-name">Demo Gydytoja 2</h3>
                                <p class="team-role">Demo specializacija 2</p>
                            </div>
                        </div>
                    </div>
                    <div class="keen-slider__slide">
                        <div class="team-card">
                            <div class="team-image-wrapper">
                                <img src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/d1.jpg" alt="Demo Doctor 1" class="team-image" loading="lazy" decoding="async">
                            </div>
                            <div class="team-info">
                                <div class="cs-license">DEMO - Licencijos Nr. DEMO-001</div>
                                <h3 class="team-name">Demo Gydytojas 1</h3>
                                <p class="team-role">Demo specializacija 1</p>
                            </div>
                        </div>
                    </div>
                    <div class="keen-slider__slide">
                        <div class="team-card">
                            <div class="team-image-wrapper">
                                <img src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/d5.jpg" alt="Demo Doctor 2" class="team-image" loading="lazy" decoding="async">
                            </div>
                            <div class="team-info">
                                <div class="cs-license">DEMO - Licencijos Nr. DEMO-002</div>
                                <h3 class="team-name">Demo Gydytoja 2</h3>
                                <p class="team-role">Demo specializacija 2</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <button class="cs-slider-arrow cs-slider-next" aria-label="Next slide">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M9 18L15 12L9 6" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
            </button>
            <!-- <div class="cs-slider-dots" id="team-slider-dots"></div> -->
        </div>
    </div>
</section>

<script defer src="/assets/js/team-slider.js"></script>

<!-- ============================================ -->
<!--           Reviews Slider Section             -->
<!-- ============================================ -->

<section id="reviews-slider-section" class="reviews-slider-section">
    <div class="cs-container">
        <div class="reviews-slider-content">
            <div class="reviews-content-flex">
                <span class="cs-topper">Atsiliepimai</span>
                <h2 class="cs-title">Ką apie mus sako pacientai</h2>
            </div>
            <a href="/atsiliepimai/" class="cs-button-solid reviews-button-desktop">Daugiau atsiliepimų</a>
        </div>

        <div class="cs-slider-container">
            <button class="cs-slider-arrow cs-slider-prev" aria-label="Previous slide">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M15 18L9 12L15 6" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
            </button>
            <div class="cs-slider-wrapper">
                <div id="reviews-slider-overlay" class="cs-slider-overlay"></div>
                <div id="reviews-slider" class="keen-slider">


                    <div class="keen-slider__slide">
                        <div class="cs-item">
                            <div class="cs-flex-group">
                                <picture class="cs-picture">
                                    <img src="/assets/svgs/user.svg" alt="" height="50" decoding="async" width="50" class="cs-profile" loading="lazy" aria-hidden="true">
                                </picture>
                                <span class="cs-name">Viktorija B.</span>
                            </div>
                            <div class="wrapper">
                                <img src="/assets/svgs/stars-5.svg" alt="" height="16" decoding="async" width="96" class="cs-item-stars" loading="lazy" aria-hidden="true">
                                <p class="cs-review">Ačiū už norą padėti žmogui, šiltą bendravimą, įsigilinimą į atvejį. Tegul Jūsų kasdienybė būna kupina nuoširdžių dėkingumo žodžių. Didžiausios Jums sėkmės!</p>
                            </div>
                            <img src="/assets/svgs/quote.svg" alt="" height="99" decoding="async" width="120" class="cs-quote" loading="lazy" aria-hidden="true">
                        </div>
                    </div>

                    <div class="keen-slider__slide">
                        <div class="cs-item">
                            <div class="cs-flex-group">
                                <picture class="cs-picture">
                                    <img src="/assets/svgs/user.svg" alt="" height="50" decoding="async" width="50" class="cs-profile" loading="lazy" aria-hidden="true">
                                </picture>
                                <span class="cs-name">Justina K.</span>
                            </div>
                            <div class="wrapper">
                                <img src="/assets/svgs/stars-5.svg" alt="" height="16" decoding="async" width="96" class="cs-item-stars" loading="lazy" aria-hidden="true">
                                <p class="cs-review">Labai gera odontologija, aplinka labai jauki, pasitinka su šypsena 🙂 rekomenduoju 100%</p>
                            </div>
                            <img src="/assets/svgs/quote.svg" alt="" height="99" decoding="async" width="120" class="cs-quote" loading="lazy" aria-hidden="true">
                        </div>
                    </div>

                    <div class="keen-slider__slide">
                        <div class="cs-item">
                            <div class="cs-flex-group">
                                <picture class="cs-picture">
                                    <img src="/assets/svgs/user.svg" alt="" height="50" decoding="async" width="50" class="cs-profile" loading="lazy" aria-hidden="true">
                                </picture>
                                <span class="cs-name">Daiva S.</span>
                            </div>
                            <div class="wrapper">
                                <img src="/assets/svgs/stars-5.svg" alt="" height="16" decoding="async" width="96" class="cs-item-stars" loading="lazy" aria-hidden="true">
                                <p class="cs-review">Puikus specialistas. Gerai išaiškina kilusius klausimus ir pasiūlo geriausia sprendimo būdą. Kainos vidutinės.</p>
                            </div>
                            <img src="/assets/svgs/quote.svg" alt="" height="99" decoding="async" width="120" class="cs-quote" loading="lazy" aria-hidden="true">
                        </div>
                    </div>

                    <div class="keen-slider__slide">
                        <div class="cs-item">
                            <div class="cs-flex-group">
                                <picture class="cs-picture">
                                    <img src="/assets/svgs/user.svg" alt="" height="50" decoding="async" width="50" class="cs-profile" loading="lazy" aria-hidden="true">
                                </picture>
                                <span class="cs-name">Raimonda M.</span>
                            </div>
                            <div class="wrapper">
                                <img src="/assets/svgs/stars-5.svg" alt="" height="16" decoding="async" width="96" class="cs-item-stars" loading="lazy" aria-hidden="true">
                                <p class="cs-review">Labai dėkinga gydytojui Petrui Beleckui, už išsaugotą šypseną 🙂. Puikios paslaugos, adekvati kaina.</p>
                            </div>
                            <img src="/assets/svgs/quote.svg" alt="" height="99" decoding="async" width="120" class="cs-quote" loading="lazy" aria-hidden="true">
                        </div>
                    </div>

                    <div class="keen-slider__slide">
                        <div class="cs-item">
                            <div class="cs-flex-group">
                                <picture class="cs-picture">
                                    <img src="/assets/svgs/user.svg" alt="" height="50" decoding="async" width="50" class="cs-profile" loading="lazy" aria-hidden="true">
                                </picture>
                                <span class="cs-name">Justina K.</span>
                            </div>
                            <div class="wrapper">
                                <img src="/assets/svgs/stars-5.svg" alt="" height="16" decoding="async" width="96" class="cs-item-stars" loading="lazy" aria-hidden="true">
                                <p class="cs-review">Labai gera odontologija, aplinka labai jauki, pasitinka su šypsena 🙂 rekomenduoju 100%</p>
                            </div>
                            <img src="/assets/svgs/quote.svg" alt="" height="99" decoding="async" width="120" class="cs-quote" loading="lazy" aria-hidden="true">
                        </div>
                    </div>

                </div>
            </div>
            <button class="cs-slider-arrow cs-slider-next" aria-label="Next slide">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M9 18L15 12L9 6" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
            </button>
        </div>
        <a href="/atsiliepimai/" class="cs-button-solid reviews-button-mobile">
            Daugiau atsiliepimų
        </a>
    </div>
</section>
<div class="team-reviews-stripe"></div>
</div>



<!-- ============================================ -->
<!--                  Services                    -->
<!-- ============================================ -->









<script>
    (function() {
        function initFAQ() {
            const faqSection = document.querySelector("#map-faq-2251");
            if (!faqSection || faqSection.dataset.faqInit === "true") return;
            faqSection.dataset.faqInit = "true";

            const faqGroup = faqSection.querySelector(".cs-faq-group");
            if (faqGroup) {
                faqGroup.addEventListener("click", function(e) {
                    const button = e.target.closest(".cs-faq-item .cs-button");
                    if (!button) return;
                    const faqItem = button.closest(".cs-faq-item");
                    if (faqItem) {
                        // Close other items
                        const allItems = faqGroup.querySelectorAll(".cs-faq-item");
                        allItems.forEach(item => {
                            if (item !== faqItem) {
                                item.classList.remove("active");
                            }
                        });
                        // Toggle current item
                        faqItem.classList.toggle("active");
                    }
                });
            }
        }

        if (document.readyState === "loading") {
            document.addEventListener("DOMContentLoaded", initFAQ, { once: true });
        } else {
            initFAQ();
        }
        document.addEventListener("astro:page-load", initFAQ);
    })();
</script>


<!--<section id="blog-986">-->
<!--    <div class="cs-container">-->
<!--        <div class="cs-content">-->
<!--            <div class="cs-flex">-->
<!--                <span class="cs-topper">Naudingi patarimai</span>-->
<!--                <h2 class="cs-title">Patarimai ir įžvalgos</h2>-->
<!--            </div>-->
<!--            <a href="/tinklarastis/" class="cs-button-solid blog-button-desktop">Peržiūrėti visus</a>-->
<!--        </div>-->
<!--        {% if collections.post | length == 0 %}-->
<!--        <h3 class="cs-title">Naujų įrašų nėra</h3>-->
<!--        {% else %}-->
<!--        <div class="cs-slider-container">-->
<!--            <button class="cs-slider-arrow cs-slider-prev" aria-label="Previous slide">-->
<!--                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">-->
<!--                    <path d="M15 18L9 12L15 6" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>-->
<!--                </svg>-->
<!--            </button>-->
<!--            <div class="cs-slider-wrapper">-->
<!--                <div id="blog-slider-overlay" class="cs-slider-overlay"></div>-->
<!--                <div id="blog-slider" class="keen-slider">-->
<!--                    {% for post in collections.post | reverse %}-->
<!--                    {% if loop.index <= 6 %}-->
<!--                    <div class="keen-slider__slide">-->
<!--                        <div class="cs-item">-->
<!--                            <picture class="cs-picture">-->
<!--                                &lt;!&ndash;Mobile Image&ndash;&gt;-->
<!--                                <source media="(max-width: 600px)" srcset="{% getUrl post.data.image | resize({ width: 1000 }) | avif %}" type="image/avif">-->
<!--                                <source media="(max-width: 600px)" srcset="{% getUrl post.data.image | resize({ width: 1000 }) | webp %}" type="image/webp">-->
<!--                                <source media="(max-width: 600px)" srcset="{% getUrl post.data.image | resize({ width: 1000 }) | jpeg %}" type="image/jpeg">-->
<!--                                &lt;!&ndash;Tablet and above Image&ndash;&gt;-->
<!--                                <source media="(min-width: 601px)" srcset="{% getUrl post.data.image | resize({ width: 1000 }) | avif %}" type="image/avif">-->
<!--                                <source media="(min-width: 601px)" srcset="{% getUrl post.data.image | resize({ width: 1000 }) | webp %}" type="image/webp">-->
<!--                                <source media="(min-width: 601px)" srcset="{% getUrl post.data.image | resize({ width: 1000 }) | jpeg %}" type="image/jpeg">-->
<!--                                <img loading="lazy" decoding="async" src="{% getUrl post.data.image | resize({ width: 1000 }) | jpeg %}" alt="{{ post.data.imageAlt | default(post.data.title) }}" width="413" height="480">-->
<!--                            </picture>-->
<!--                            <div class="cs-info">-->
<!--                                <span class="cs-date">-->
<!--                                    <img class="cs-icon" loading="lazy" decoding="async" src="/assets/svgs/calendar.svg" alt="calendar" width="20" height="20">-->
<!--                                    {{ post.date | postDate }}-->
<!--                                </span>-->
<!--                                <h3 class="cs-h3">{{ post.data.title }}</h3>-->
<!--                                <a href="{{ post.url }}" class="cs-link">Skaityti daugiau</a>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    {% endif %}-->
<!--                    {% endfor %}-->
<!--                </div>-->
<!--            </div>-->
<!--            <button class="cs-slider-arrow cs-slider-next" aria-label="Next slide">-->
<!--                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">-->
<!--                    <path d="M9 18L15 12L9 6" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>-->
<!--                </svg>-->
<!--            </button>-->
<!--        </div>-->
<!--        <a href="/tinklarastis/" class="cs-button-solid blog-button-mobile">Peržiūrėti visus</a>-->
<!--        {% endif %}-->
<!--    </div>-->
<!--</section>-->

<section id="map-faq-2251">
    <div class="cs-container">
        <!-- FAQ Content - Left Side -->
        <div class="cs-content">
            <span class="cs-topper">Klausimai ir atsakymai</span>
            <h2 class="cs-title">Dažniausiai užduodami klausimai</h2>
            <ul class="cs-faq-group">
                <li class="cs-faq-item">
                    <button class="cs-button">
                <span class="cs-button-text">
                    Ką daryti, jei staiga pradėjo skaudėti dantį?
                </span>
                    </button>
                    <p class="cs-item-p">
                        Jei pajutote aštrų skausmą ar ištino žandas, skambinkite mums nieko nelaukdami. Visada stengiamės rasti laiko „ūmiems“ atvejams tą pačią dieną, kad jums nereikėtų kęsti skausmo.
                    </p>
                </li>
                <li class="cs-faq-item">
                    <button class="cs-button">
                <span class="cs-button-text">
                    Ar klinikoje gydote vaikus?
                </span>
                    </button>
                    <p class="cs-item-p">
                        Tikrai taip. Esame šeimos klinika, todėl mažieji pacientai pas mus labai laukiami. Stengiamės, kad pirmasis vizitas būtų drąsus, be ašarų ir paliktų tik gerus įspūdžius.
                    </p>
                </li>
                <li class="cs-faq-item">
                    <button class="cs-button">
                <span class="cs-button-text">
                    Ar paslaugos kompensuojamos ligonių kasų?
                </span>
                    </button>
                    <p class="cs-item-p">
                        Taip, turime sutartį su Teritorine ligonių kasa (TLK). Senjorai, vaikai ir kiti teisę turintys pacientai gali gauti kompensaciją dantų protezavimui. Taip pat priimame pacientus su privačiu sveikatos draudimu.
                    </p>
                </li>
                <li class="cs-faq-item">
                    <button class="cs-button">
                <span class="cs-button-text">
                    Labai bijau odontologų. Ar skaudės?
                </span>
                    </button>
                    <p class="cs-item-p">
                        Suprantame jūsų nerimą, bet šiuolaikinė odontologija jau seniai nebėra baisi. Visada išklausome, niekur neskubame ir taikome vietinę nejautrą, tad procedūros metu diskomforto nejausite.
                    </p>
                </li>
                <li class="cs-faq-item">
                    <button class="cs-button">
                <span class="cs-button-text">
                    Kada ir kaip reikia atsiskaityti už paslaugas?
                </span>
                    </button>
                    <p class="cs-item-p">
                        Atsiskaityti galima po vizito grynaisiais arba banko kortele. Jei planuojamas didesnis gydymas, gydytojas iš anksto sudarys planą ir aptars numatomas išlaidas, kad nebūtų staigmenų.
                    </p>
                </li>
                <li class="cs-faq-item">
                    <button class="cs-button">
                <span class="cs-button-text">
                    Kas nutiks, jei negalėsiu atvykti sutartu laiku?
                </span>
                    </button>
                    <p class="cs-item-p">
                        Gyvenime visko pasitaiko, tad jei matote, kad vėluosite ar negalėsite atvykti, prašome pranešti bent prieš 24 valandas. Taip galėsime pasiūlyti jūsų laiką kitam laukiančiam pacientui.
                    </p>
                </li>
            </ul>
        </div>
        <!-- Image - Right Side -->
        <picture class="cs-faq-image">
            <!--Mobile Image-->
            <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/faqimage.jpg" | resize({ width: 600 }) | avif %}" type="image/avif">
            <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/faqimage.jpg" | resize({ width: 600 }) | webp %}" type="image/webp">
            <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/faqimage.jpg" | resize({ width: 600 }) | jpeg %}" type="image/jpeg">
            <!--Tablet Image-->
            <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/faqimage.jpg" | resize({ width: 1280 }) | avif %}" type="image/avif">
            <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/faqimage.jpg" | resize({ width: 1280 }) | webp %}" type="image/webp">
            <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/faqimage.jpg" | resize({ width: 1280 }) | jpeg %}" type="image/jpeg">
            <!--Desktop Image-->
            <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/faqimage.jpg" | resize({ width: 1920 }) | avif %}" type="image/avif">
            <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/faqimage.jpg" | resize({ width: 1920 }) | webp %}" type="image/webp">
            <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/faqimage.jpg" | resize({ width: 1920 }) | jpeg %}" type="image/jpeg">
            <img src="{% getUrl "/assets/images/faqimage.jpg" | resize({ width: 2000 }) | jpeg %}" alt="Automobilių nuomos paslaugos" decoding="async" loading="lazy">
        </picture>
    </div>
</section>

<div class="wrapper-line">
    <div class="cs-container"></div>
</div>
{% include 'sections/cta.html' %}


{% endblock %}