@media only screen and (min-width: 0rem) {
    @keyframes floatAnimation {
        0% {
            transform: translateY(0);
        }

        50% {
            transform: translateY(-2rem);
        }

        100% {
            transform: translateY(0);
        }
    }

    @keyframes floatAnimation2 {
        0% {
            transform: translateY(0);
        }

        50% {
            transform: translateY(-3rem);
        }

        100% {
            transform: translateY(0);
        }
    }

    #content-page-1398 {
        padding: var(--sectionPadding);
        background-color: #fff;
        overflow: hidden;
        position: relative;
        z-index: 1;
    }

    #content-page-1398 .cs-container {
        width: 100%;
        max-width: 80rem;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: clamp(2.5rem, 4vw, 4rem);
        position: relative;
    }

    #content-page-1398 .cs-content {
        text-align: left;
        width: 100%;
        max-width: 46.125rem;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    #content-page-1398 .cs-title {
        font-size: 1.9375rem;
        font-weight: 700;
        line-height: 1.2em;
        text-align: inherit;
        width: 100%;
        max-width: 100%;
        margin: 0 0 1rem 0;
        color: var(--headerColor);
        position: relative;
    }

    #content-page-1398 h2, #content-page-1398 h3, #content-page-1398 h4, #content-page-1398 h5, #content-page-1398 h6 {
        font-weight: 700;
        text-align: inherit;
        margin: 0 0 1rem 0;
        color: var(--headerColor);
    }

    #content-page-1398 h1 {
        font-size: 1.9375rem;
    }

    #content-page-1398 h2 {
        font-size: 1.6rem;
        margin-top: 2rem;
        color: var(--primary);
    }

    #content-page-1398 h3 {
        font-size: 1.4rem;
        color: var(--primary);
    }

    #content-page-1398 h4, #content-page-1398 h5, #content-page-1398 h6 {
        font-size: 1.25rem;
    }

    #content-page-1398 .cs-button-solid {
        margin-bottom: 2rem;
    }

    #content-page-1398 .cs-no-margin {
        margin: 0;
    }

    #content-page-1398 .cs-color {
        color: var(--primary);
    }

    #content-page-1398 p {
        font-size: var(--bodyFontSize);
        line-height: 1.5em;
        text-align: inherit;
        width: 100%;
        margin: 0 0 1rem 0;
        color: var(--bodyTextColor);
    }

    #content-page-1398 p:last-of-type {
        margin-bottom: 2rem;
    }

    #content-page-1398 p a {
        font-size: inherit;
        line-height: inherit;
        text-decoration: underline;
        color: var(--primary);
        filter: brightness(120%);
    }

    #content-page-1398 ol, #content-page-1398 ul {
        padding-left: 1.5rem;
        margin: 0 0 2rem 0;
        color: var(--bodyTextColor);
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    #content-page-1398 ul li {
        list-style: none;
        color: inherit;
        position: relative;
    }

    #content-page-1398 ul li:before {
        content: "";
        width: 4px;
        height: 4px;
        background: currentColor;
        opacity: 1;
        border-radius: 50%;
        position: absolute;
        display: block;
        top: 0.625rem;
        left: -0.75rem;
    }

    #content-page-1398 img {
        width: 100%;
        height: auto;
        display: block;
    }

    #content-page-1398 .cs-image-group {
        width: 100%;
        display: none;
        flex-direction: column;
        gap: clamp(1rem, 2.6vw, 1.25rem);
        position: relative;
    }

    #content-page-1398 .cs-flex {
        position: relative;
    }

    #content-page-1398 .cs-background {
        width: 100%;
        height: 100%;
        border-radius: 1rem;
        overflow: hidden;
        object-fit: cover;
        display: block;
        max-height: 686px;
    }

    #content-page-1398 .cs-background img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }

    #content-page-1398 .cs-card-group {
        width: 100%;
        max-width: 39.375rem;
        margin: 0 0 1.5rem 0;
        padding: 0;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(15.265rem, 1fr));
        align-items: center;
        gap: clamp(1rem, 2vw, 1.25rem);
    }

    #content-page-1398 .cs-item {
        list-style: none;
        box-sizing: border-box;
        background-color: #F5FBFF;
        border-radius: 1rem;
        border: 1px solid #e8e8e8;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 0.75rem;
        height: 100%;
    }

    #content-page-1398 .cs-item:before {
        display: none;
    }

    #content-page-1398 .cs-h3 {
        font-size: 1.25rem;
        line-height: 1.2em;
        font-weight: 700;
        margin: 0;
        color: var(--headerColor);
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 0.5rem;
    }

    #content-page-1398 .cs-h3-icon {
        width: 2rem;
        height: auto;
        display: block;
    }

    #content-page-1398 .cs-item-text {
        font-size: 0.875rem;
        line-height: 1.5em;
        margin: 0;
        color: var(--bodyTextColor);
    }

    #content-page-1398 .cs-item-text:last-of-type {
        margin: 0;
    }

    #content-page-1398 .cs-ul {
        width: 100%;
        margin: 0 0 1.5rem 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 0.75rem;
    }

    #content-page-1398 .cs-li {
        font-size: var(--bodyFontSize);
        list-style: none;
        line-height: 1.5em;
        width: 100%;
        color: var(--bodyTextColor);
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 0.5rem;
    }

    #content-page-1398 .cs-icon {
        width: 1.5rem;
        height: auto;
        margin-top: 1px;
        display: block;
    }
}

@media only screen and (min-width: 48rem) {
    #content-page-1398 .cs-container {
        flex-direction: row-reverse;
        align-items: flex-start;
        justify-content: space-between;
    }

    #content-page-1398 .cs-content {
        width: 50%;
        max-width: 42.125rem;
        flex: none;
    }

    #content-page-1398 .cs-image-group {
        width: 44%;
        max-width: 33.875rem;
        display: flex;
    }
}

#content-page-1398 {
    overflow: visible;
}

#content-page-1398 .cs-image-group {
    position: sticky;
    height: 100%;
    overflow: visible;
    top: 100px;
}

@media only screen and (min-width: 75rem) {
    #content-page-1398 .cs-content {
        width: 53%;
    }

    #content-page-1398 .cs-image-group {
        width: 43%;
    }

    #content-page-1398 .cs-box {
        display: flex;
    }

    #content-page-1398 .cs-bubbles {
        font-size: 1em;
        margin-right: 37.5rem;
        display: block;
        left: auto;
        right: 50%;
        bottom: -13.75rem;
    }
}

@media only screen and (min-width: 0rem) {
    body.dark-mode #content-page-1398 {
        background-color: var(--dark);
    }

    body.dark-mode #content-page-1398 .cs-text, body.dark-mode #content-page-1398 .cs-title, body.dark-mode #content-page-1398 h2, body.dark-mode #content-page-1398 h3, body.dark-mode #content-page-1398 h4, body.dark-mode #content-page-1398 h5, body.dark-mode #content-page-1398 h6, body.dark-mode #content-page-1398 li, body.dark-mode #content-page-1398 p {
        color: var(--bodyTextColorWhite);
    }

    body.dark-mode #content-page-1398 .cs-color, body.dark-mode #content-page-1398 a {
        color: var(--primaryLight);
    }

    body.dark-mode #content-page-1398 li, body.dark-mode #content-page-1398 p {
        color: #ebebeb;
    }

    body.dark-mode #content-page-1398 .cs-item {
        background-color: rgba(0, 0, 0, 0.2);
        border-color: rgba(255, 255, 255, 0.2);
        height: 100%;
    }

    body.dark-mode #content-page-1398 .cs-h3 {
        color: var(--bodyTextColorWhite);
    }

    body.dark-mode #content-page-1398 .cs-icon {
        filter: grayscale(1) brightness(1000%);
    }

    body.dark-mode #content-page-1398 .cs-picture {
        border-color: var(--dark);
        background-color: var(--dark);
    }

    body.dark-mode #content-page-1398 .cs-bubbles:before {
        border-color: rgba(255, 255, 255, 0.2);
    }
}

#banner-559 .cs-int-title:before {
    content: "";
    width: 50vw;
    height: 2px;
    background: var(--primary);
    opacity: 1;
    position: absolute;
    display: block;
    top: 50%;
    right: 100%;
    transform: translateY(-50%);
}

#content-page-1398 .item-link {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.75rem;
    padding: clamp(1rem, 3vw, 1.5rem);
    width: 100%;
    height: 100%;
    text-decoration: none;
    border-radius: 1rem;
    transition: 0.3s;
}

#content-page-1398 .item-link:hover {
    background: var(--primary);
}

#content-page-1398 .item-link:hover h3, #content-page-1398 .item-link:hover p {
    color: #fff;
}

#content-page-1398 .item-link:hover .cs-h3-icon {
    filter: grayscale(1) brightness(1000%);
}

#content-page-1398 ul li a {
    color: var(--primary);
}

#content-page-1398 ul li strong {
    font-weight: 400;
}

body.dark-mode #content-page-1398 .cs-title, body.dark-mode #content-page-1398 h2, body.dark-mode #content-page-1398 h3, body.dark-mode #content-page-1398 h4, body.dark-mode #content-page-1398 h5 {
    color: var(--primaryLight);
}

body.dark-mode .cs-h3-icon {
    filter: grayscale(1) brightness(1000%);
}
